#root {
    background-color: blue;
}

.parent-root {
    width: 800px; // Встановлення ширини таблиці
    border-collapse: collapse; // Видалення зайвих відступів між комірками
    font-family: "Arial",sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.invisible-background {
    background-color: transparent;
    height: 16px;
}

td {
    font-size: 12.0pt;
    background-color: #ffffff;
    font-family: "Arial", sans-serif;
    vertical-align: top; // Щоб вміст був вгорі комірки
    padding: 10px; // Загальний відступ для всіх комірок, його можна змінити за потребою
}

.office-header {
    // width: 800px; // Забезпечення того, що заголовки офісів завжди матимуть ширину 800px
    text-align: left; // Додаткове вирівнювання тексту по центру
    height: 32px;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid red;
    letter-spacing: 1px;
    // margin: 10px 0;
    background-color: #ffffff;
    padding: 0;
    padding-left: 12px;
}

.userphoto, .userinfo_text-block {
    display: inline-block; // Забезпечення відображення поруч
    vertical-align: top;
}

.userphoto {
    width: 200px; // Вказано 185px, так як враховується відступ в 10px по обидва боки (загалом 205px)
    padding: 8px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.userinfo_text-block {
    width: 568px;
    padding: 8px; // 600px - 10px (відступ зліва) - 5px (наприклад, якщо ви хочете додатковий відступ справа)

    h3 {
        font-weight: bold;
        font-size: 12.0pt;
        text-decoration: underline;
        margin-bottom: 8px;

        &:first-child {
            text-decoration: none;
            margin-top: 0px;
        }
    }

    p {
        font-size: 12.0pt;
        text-align: left;
        margin-top: 0px;
        padding-top: 0px;
    }
}

.intro-container {
    font-family: "Arial",sans-serif;
    font-size: 12.0pt;

    & img {
        width: 800px;
    }
}

.text-container {
    padding: 8px;
}

tr {
    padding: 0px;
    margin: 10px 0;
    height: 20px;
    background-color: #ffffff;
}

td {
    padding: 0px;
}